<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="EmpdbEntities" connectionString="metadata=res://*/efmodel.csdl|res://*/efmodel.ssdl|res://*/efmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=USTDOTNET;initial catalog=Empdb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>